@import '../../assets/scss/common';

.Education {
  .wrapper {
    background-color: $background;
    padding: 24px 0;
  }
  .box {
    padding: 24px;
    & + .box {
      margin-top: 16px;
    }
  }
  .body {
    margin: 16px 0;
  }
}
