@import '../../assets/scss/common.scss';

.Title {
  h2 {
    @include font-en();
    position: relative;
    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 50px;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: $primary;
    }
  }
}
