@import '../../assets/scss/common.scss';

.Jumbotron {
  width: 100vw;
  height: calc(100vw * 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.xs {
    height: calc(100vw * 0.75);
  }
  .warning {
    margin: 8px 0;
  }
  .outline {
    text-align: center;
    margin: 8px 0;
    color: $on-primary;
    h1, h6 {
      @include font-en();
    }
  }
}
