.Jumbotron {
  width: 100vw;
  height: calc(100vw * 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .warning {
    margin: 8px 0;
  }
  .outline {
    text-align: center;
    margin: 8px 0;
    color:#F3E5F5; // TODO: color定義まとめる
    h1, h6 {
      font-family: "Poiret One", sans-serif !important;
    }
  }
}
.MuiButton-label {
  font-family: "Poiret One", sans-serif !important;
}
