.Projects {
  padding-top: 24px;
  .box {
    margin: 16px 0;
    padding: 24px;
  }
  .body {
    margin: 16px 0;
  }
  .skill {
    min-width: 48px;
    margin: 3px;
    font-family: "M PLUS 1p", sans-serif !important;
  }
}
