@import '../../assets/scss/common';

.Projects {
  .wrapper {
    background-color: $background;
    padding: 24px;
  }
  .box {
    padding: 24px;
    & + .box {
      margin-top: 16px;
    }
  }
  .body {
    margin: 16px 0;
  }
  .skill {
    min-width: 48px;
    margin: 3px;
  }
}
