@import '../../assets/scss/common';

.ErrorBoundary {
  margin: 8px 0;
  padding: 8px 0;
  background-color: $on-primary;
  .message {
    @include font-en();
  }
  .ditails {
    font-size: 12px;
    outline: none;
  }
}
