.MenuButtons {
  width: 100%;
  .horizonal {
    display: flex;
    a {
      justify-content: center;
    }
  }
  .vertical {
    min-width: 45vw;
    margin-top: 24px;
    a {
      justify-content: center;
      color: #BA68C8;
    }
  }
}
