.content-box {
  height: 2000px;
}

.app {
  .bg-img {
    position: fixed;
    width: 100vw;
    height: calc(100vw * 0.75);
    background: url(../assets/images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: contrast(.75);
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: calc(100vw * 0.75);
      background-color: rgba(#BA68C8, .75);
      position: fixed;
    }
  }
}
