.Experience {
  padding: 24px 0;
  .timeline {
    background-color: #fafafa;
  }
  .box {
    padding: 24px 16px;
  }
  h6 {
    font-family: "M PLUS 1p", sans-serif !important;
    line-height: 36px;
  }
  h3 {
    line-height: 1.4;
    font-family: "M PLUS 1p", sans-serif !important;
    font-weight: bold;
  }
  .body {
    margin-top: 16px;
  }
}

.MuiTimelineItem-missingOppositeContent:before {
  display: none;
}
