@import '../../assets/scss/common';

.Experience {
  .wrapper {
    background-color: $background;
    padding: 16px 0;
  }
  .box {
    padding: 24px 16px;
  }
  h3 {
    font-weight: bold;
  }
  .body {
    margin-top: 16px;
  }
}
// タイムラインの左側の余白を消す
.MuiTimelineItem-missingOppositeContent:before {
  display: none;
}
