.Skills {
  background-color: white;
  padding-bottom: 48px;
  .Title {
    background-color: white;
  }
  .skills-wrapper {
    text-align: center;
  }
  .skill {
    margin: 4px;
    min-width: 64px;
  }
}
